<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ticket.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
				<key>dateExpires</key>
				<string>2020/5/7</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AliyunOSSiOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HandyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JPImageresizerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PKHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxAtomic.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TTTAttributedLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3811D959B360265183E0D11BC06AF5B8A05197E0</string>
						<key>dateExpires</key>
						<string>2020/5/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YBPopupMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>QDPVKJVWX6</string>
						<key>name</key>
						<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QDPVKJVWX6.com.caixiaomi.ticket.ticket</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QDPVKJVWX6</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>QDPVKJVWX6.com.caixiaomi.ticket.ticket</string>
				</array>
			</dict>
			<key>name</key>
			<string>Ticket.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>354d55d2-fb3d-4e7d-a08b-26b8d97b5b50</string>
				<key>name</key>
				<string>ios_Ticketn_Dis</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QDPVKJVWX6</string>
				<key>name</key>
				<string>Beijing Shen Cai Yi Yi Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
